packer/output-virtualbox-iso/*
packer/output-vmware-iso/*
packer/packer_cache/*
packer/packer.exe
*.box
.vagrant/
*.vmdk
*.log
*.ova
*.ovf
*.vdi
*.vhd
*.vhdx
*.vmx
*.vmxf
*.vmsd
*.vmsn
*.lck
*.nvram
*.scoreboard
*.vmem